@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    background: #fff1e4;
    font-family: 'Poppins', Roboto, sans-serif;
}

#main_content{
    background: #fff1e4;
}

.navbar {
    background: bisque;
    width: 100%;
    height: 60px;
}

.hero {
    font-weight: bold;
    border-radius: 40px;
    line-height: 40px;
}

.round {
    border-radius: 20px;
}

.navbar-items {
    background-color: bisque;
    margin-top: 10px;
}

.navbar-items ul{
    list-style: none;
    background-color: bisque;
    font-size: small;
}

.navbar-items ul li {
    display: inline;
    background-color: bisque;
}

#alert-icon:hover{
    background-color: red;
    color: white;
}