@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Roboto, sans-serif;
}

#main_content{
    background: #fff1e4;
}

.navbar {
    background: bisque;
    width: 100%;
    min-height: 60px;
}

.hero {
    font-weight: bold;
    border-radius: 40px;
    line-height: 40px;
}

.round {
    border-radius: 20px;
}

.navbar-items {
    background-color: bisque;
    margin-top: 10px;
}

.navbar-items ul{
    list-style: none;
    background-color: bisque;
    font-size: small;
}

.navbar-items ul li {
    display: inline;
    background-color: bisque;
}

#alert-icon:hover{
    background-color: red;
    color: white;
}

/* Profile */
.profile-box{
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    max-height: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* story card */

.story-card {

}

.story-top {
    margin-top: 10px;
    margin-bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 0;
    max-width: 600px;
}

.story-bottom {
    margin-top: 0;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 600px;
    min-height: 200px;
}